@media screen and (min-width: 500px) {}

*{
    padding: 0;
    margin: 0;
}

a:link {color: blue;text-decoration: none;}
a:visited{color:aqua;text-decoration: none;}
a:hover{color: khaki;text-decoration: none;}
a:active{color:aqua;text-decoration: none;}


.block_ans{
    display: none;
}

#single{
    border:#fff;
}
#single li{
    margin-left: 2em;
    font-size:17px;
    font-family: 华文细黑;
    list-style-type:none;
}
#submit {
    margin-left: 50%;
    font-size:17px;
    width: 60px;
    font-family: 华文细黑;
}

body{
    background:#80808027;
}
a{
    text-decoration: none;
    color: #000;
}

h3{
    color: wheat;

}

#bread {
    height: 45px;
    margin: 20px 250px;
    color:whitesmoke;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#sidebar {
    width: 18%;
    height: 450px;
    background-color: rgba(255,255,255,0.7);
    float: right;
    position: absolute;
    top: 200px;
    right: 10%;
    z-index: 1000;
    padding: 10px 12px;
    text-align: center;
}
#sidebar strong{
    font-size: 15px;
    line-height: 60px;

}
#sidebar p{
    text-indent: 2em;
    font-size:12px;
    line-height: 20px;
    font-family: 微软雅黑;
    padding: 15px;
    font-weight:bold;
    text-align: justify;
}

#main_header {
    width: 79%;
    height: 68px;
    background-color: rgba(255,255,255,0.7);
    position: relative;
    top: 190px;
    left: 190px;
}
#main_header .box {
    height: 100%;
    width: 142px;
    font-size: 17px;
    line-height: 4em;

    float: left;
    margin: 0 auto;
    text-align: center;
    font-family:微软雅黑;
}

#main {
    width: 50%;
    background-color: rgba(255,255,255,0.7);
    position: relative;
    top: 115px;
    left: 300px;
    padding: 20px 30px;
}
#main strong{
    font-size: 18px;
    line-height: 60px;
}
#main p{
    text-indent: 2em;
    font-size:17px;
    line-height: 32px;
    font-family: 华文细黑;
}

#main hr{
    opacity:0.5;
}

.box{
    height: 100px;
    background-image: url(../picture/top.png);
    margin: -20px;
    padding: 0;
}

