*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



.box1 .box2 .box3{
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
	background-color: #E3E3E3;
}




h2,h3{
    line-height: 80xp;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.section2{
    text-decoration: none;
    text-align: center;
    line-height: 40px;
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
		
}

.group1 a{
    text-decoration: none;
    color: lightblue;
}

.group2 a{
    text-decoration: none;
    color: lightblue;
}

.group1{
    font-size: large;
	width: 1020px;
	background-color:whitesmoke;
	display: flex;
	justify-content: center;
	align-content: center;
	border: solid 1px white;
}

.group2{
    font-size: large;
	width: 1020px;
	background-color:whitesmoke;
	display: flex;
	justify-content: center;
	align-content: center;
	border: solid 1px white;
    
}




.part1{
    background-color: rgba(206, 218, 245, 0.884);
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 30px;
    height: 60px;
    font-family: Microsoft YaHei;
    font-size: 25px;
    padding-left: 5%;
    color: rgb(34, 85, 161);
    border-radius: 20px 20px 0 0;
    background-color: beige;
}

.part2{
    background-color:floralwhite;
    margin: 0;
    margin-bottom: 0;
    height: fit-content;
    border-radius: 20px 20px 20px 20px;
    
}
.TOP{
	background: url("../picture/top.png");
	background-size: cover;
    height: 100%;
    width: 100%;
	background-repeat: no-repeat;}

.inside{
    background-color: bisque;
    width: 1020px;

}

.block{
    margin-left: 250px;
    margin-right: 250px;
}
	








